<div class="container">
  <div class="page-header">
    <h3>At Your Service</h3>
  </div>

  <div class="col-lg-3 col-md-3 col-s-6 text-center">
      <div class="service-box">
          <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Great Communicator</h3>
          <p class="text-muted">Excellent designs begin with frequent and thorough communication, whether in person or remote.</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-3 col-s-6 text-center">
      <div class="service-box">
          <i class="fa fa-4x fa-flask wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Experimental Problem Solver</h3>
          <p class="text-muted">Learns new technologies to suit the current problem.</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-3 col-s-6 text-center">
      <div class="service-box">
          <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
          <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Back-End</h3>
          <p class="text-muted">
          Writing application servers, in Node.js on Express.js, or Ruby on Rails.</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-3 col-s-6 text-center">
      <div class="service-box">
          <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Git-Ready</h3>
          <p class="text-muted">Version Control and Code Management</p>
      </div>
  </div>

</div>

{{outlet}}
