<div class="header-content">
  <div class="header-content-inner">
    <h1>Allison S.</h1>
    <hr>
    <p><em>Welcome.</em>  It's Nice To Meet You.  I hope you like what you see!</p>

    {{#link-to 'portfolio'}}Samples{{/link-to}}
  </div>
</div>

{{outlet}}

{{!-- <h1>Allison S.</h1>
<hr>
<p><em>Welcome.</em>  It's Nice To Meet You.  I hope you like what you see!</p> --}}
