<section class="bg-dark" id="contact" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="dark">
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-sm-6 text-center">
                <p class="text-faded">We might make an excellent team together.  Ready to start your next project with me?  That's great!  Send me an email or give me a call and I will get back to you as soon as possible.</p>
                <div class="col-xs-4 text-right">
                    <ul class="list-unstyled dk-link">
                        <li><i class="fa fa-mobile fa-4x wow bounceIn"></i></li>
                        <li><i class="fa fa-laptop fa-4x wow bounceIn" data-wow-delay=".1s"></i></li>
                    </ul>
                </div>
                <div class="col-xs-8 text-left">
                    <ul class="list-unstyled dk-link">
                        <li><a href="tel:1-847-502-2942">847-502-2942</a></li>
                        <li><a href="mailto:allison.j.sebastian@gmail.com">allison.j.sebastian@gmail.com</a></li>
                    </ul>
                </div>
                <a href="img/ASichling.pdf" target="_blank" class="btn btn-default btn-xl wow tada" id="resume">Download Resume</a>
            </div>  <!-- end col-sm-6 for info -->
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/mohawk.jpg" class="img-responsive img-circle" alt="">
                    <h4>Allison Sichling</h4>
                    <p class="text-faded">Web Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/faetea" target="_blank"><i class="fa fa-git fa-fw"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/allisonsebastian" target="_blank"><i class="fa fa-linkedin fa-fw"></i></a></li>
                        <li><a href="https://www.behance.net/faetea" target="_blank"><i class="fa fa-behance fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>  <!-- end col-sm-6 for team-member -->
        </div>
    </div>
</section>

{{outlet}}
