<div class="container">
  <div class="page-header">
    <h2 class="text-primary">Welcome</h2>
  </div>
  <p class="lead">It's Nice To Meet You.  I hope you like what you see!</p>
  <p  class="text-center">{{link-to "Samples" 'portfolio' class="btn btn-default"}}</p>
</div>

{{outlet}}
