<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>Sticky footer with fixed navbar</h1>
  </div>
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
  <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
</div>

<h1>Allison S.</h1>
<hr>
<p><em>Welcome.</em>  It's Nice To Meet You.  I hope you like what you see!</p>
<p>{{link-to "Samples" 'portfolio' class="btn btn-default"}}</p>

{{outlet}}

{{!-- <div class="header-content">
  <div class="header-content-inner">
    <h1>Allison S.</h1>
    <hr>
    <p><em>Welcome.</em>  It's Nice To Meet You.  I hope you like what you see!</p>

    {{#link-to 'portfolio'}}Samples{{/link-to}}
  </div>
</div> --}}


{{!-- When generating a link you might want to set additional attributes for it.
You can do this with additional arguments to the link-to helper:

<p>{{link-to "Edit this photo" "photo.edit" photo class="btn btn-primary"}}</p>
Many of the common HTML properties you would want to use like class, and rel will work.
When adding class names, Ember will also apply the standard ember-view and possibly active class names. --}}
