<nav>
    {{#link-to 'intro'}}Allison{{/link-to}}
    {{#link-to 'about'}}About{{/link-to}}
    {{#link-to 'portfolio'}}Portfolio{{/link-to}}
    {{#link-to 'skills'}}Skills{{/link-to}}
    {{#link-to 'services'}}Services{{/link-to}}
    {{#link-to 'contact'}}Contact{{/link-to}}
</nav>

{{outlet}}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="copyright">Content Copyright &copy; 2015-2016 Allison Sichling</span>
      </div>
      <div class="col-md-6">
        <span class="copyright">Template Copyright &copy; 2013-2015 <a href="http://startbootstrap.com/" target="_blank">Start Bootstrap</a></span>
      </div>
    </div>
  </div>
</footer>
