<section class="bg-light-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr>
                <p class="text-muted"><em>Hi</em>. My name is Allison, and I'm a full-stack Web Developer.</p>
                <p class="text-muted">I graduated from General Assembly’s full-time Web Development Immersive Bootcamp.  I have experience running events as a volunteer, and working at retail stores, primarily shipping and receiving.  I also have a background in collectible product design, promotional toy design, retail toy design, and illustration development.</p>
                <p class="text-muted">I love creating things, and seeing them happen.  I chose General Assembly, because I enjoy learning how to solve interesting problems, and wanted a career path that will require continual learning.  I’m looking for a role on a team developing interesting new web solutions.</p>
                <p>{{link-to "Services" 'services' class="btn btn-default"}}</p>
            </div>
        </div>
    </div>
</section>

{{!-- <h2>I've got what you need!</h2>
<hr>
<p><em>Hi</em>. My name is Allison, and I'm a full-stack Web Developer.</p>
<p>I graduated from General Assembly’s full-time Web Development Immersive Bootcamp.  I have experience running events as a volunteer, and working at retail stores, primarily shipping and receiving.  I also have a background in collectible product design, promotional toy design, retail toy design, and illustration development.</p>
<p>I love creating things, and seeing them happen.  I chose General Assembly, because I enjoy learning how to solve interesting problems, and wanted a career path that will require continual learning.  I’m looking for a role on a team developing interesting new web solutions.</p> --}}
