<div class="container">
  <div class="page-header">
    <h3>Skills & Capabilities</h3>
  </div>
  <p class="lead text-center">JavaScript, jQuery, HTML5, CSS3, Git, AJAX, JSON, Charts.js, Handlebars, Bootstrap, Materialize, Ember.js, MongoDB, Mongoose, PostgreSQL, Sequelize.js, Express.js, Node.js, Active Record, Ruby on Rails, Heroku, Photoshop, Illustrator, InDesign</p>
</div>

{{outlet}}
