<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal1" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Health Chart Application</div>
                            <div class="project-name">
                            Pressure Tracker</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal3" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Group Project</div>
                            <div class="project-name">
                            BucketList</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal2" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            A simple Blog Generator</div>
                            <div class="project-name">
                            Bloggie-GEN</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal4" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Health Diary Application</div>
                            <div class="project-name">
                            My Health App</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal5" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            First Project</div>
                            <div class="project-name">
                            Tic Tac Toe</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/faetea" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                            Git Hub</div>
                            <div class="project-name">
                            See all of my code here.</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{{outlet}}

{{!-- <p>Health Chart Application</p>
<p>Pressure Tracker</p>

<p>Group Project</p>
<p>BucketList</p>

<p>A simple Blog Generator</p>
<p>Bloggie-GEN</p>

<p>Health Diary Application</p>
<p>My Health App</p>

<p>First Project</p>
<p>Tic Tac Toe</p> --}}
